/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 ene 2024, 19:49:46
    Author     : Laboratorios
*/

body {
    box-sizing: border-box;
    background-color: bisque;
    margin: 0;
    font-family: sans-serif;
    padding: 80px 20px 0;
}

header {
    position: fixed;
    background-color: blue;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
}  

aside {
    position: fixed;
    background-color: aquamarine;
    top: 80px;
    left: 0;
    bottom: 20px;
    width: 20%;
}

section {
    position: fixed;
    overflow-y: scroll;
    background-color: whitesmoke;
    top: 80px;
    left: 20%;
    bottom: 20px;
    right: 0;
}

footer {
    position: fixed;
    background-color: graytext;
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
}

nav a {
    text-decoration: none;
    background-color: green;
    color: white;
}
nav a:hover {
    background-color: blue;
    color: yellow;
}

tr:nth-child(odd) {
    background-color: blue;
    color: yellow;
}

tr:nth-child(even) {
    background-color: green;
    color: white;
}